.inbox_container {
  width: 100%;
  margin-left: 70px;
  height: 100%;
  display: flex;
  gap: 10px;
}

.inbox_container2 {
  width: 100%;
  margin-left: 5px;
  height: 100%;
  display: flex;
  gap: 10px;
}

.inbox_menu {
  width: 500px;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  padding-top: 100px;
}

.compose_btn {
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.inbox_menu_container {
  padding-left: 25px;
  margin-top: 30px;
  padding-bottom: 30px;
}

/* @media only screen and (max-width: 1000px) {
  .inbox_container {
    margin-left: 60px;
  }

  .inbox_menu_container {
    padding-left: 5px;
  }
}

@media only screen and (min-width: 1600px) {
  .inbox_container {
    margin-left: 125px;
  }

  .inbox_menu_container {
    padding-left: 10px;
  }
} */

.toggle_btn {
  margin-top: 110px;
  /* margin-left: -20px; */
  z-index: 1;
  background-color: #f4f4f4;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 15px;
}
