.header {
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: "Circular Std", sans-serif;
  border-bottom: 1px solid #e0e0e0;
  margin-left: auto;
}

.side_bar {
  border-right: 1px solid #e0e0e0;
  /* padding: 0 10px; */
}
