.header {
  padding: 1rem 2rem 1rem 6.5rem;
  background-color: #fff;
  font-family: "Circular Std", sans-serif;
  border-bottom: 1px solid #e0e0e0;
  margin-left: auto;
}

.header_title {
  text-shadow: 2px 2px 4px gray;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 1rem 0.5rem 1rem 6.5rem;
  }
}

.side_bar {
  border-right: 1px solid #e0e0e0;
}

.toggle_btn {
  margin-left: -45px;
  background-color: #f4f4f4;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 15px;
}

.active {
  background-color: #e6edff;
  padding: 10px 8px;
  border-radius: 10px;
}

.icon:hover {
  color: #e0e0e0;
}

.toggle_sidebar {
  background-color: #f4f4f4;
  width: 10px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
}
