.header {
  padding: 1rem 2rem 1rem 6.5rem;
  background-color: #fff;
  font-family: "Circular Std", sans-serif;
  border-bottom: 1px solid #e0e0e0;
  margin-left: auto;
}

.side_bar {
  border-right: 1px solid #e0e0e0;
  /* z-index: 100; */
  /* padding: 0 10px; */
}

.toggle_btn {
  margin-left: -45px;
  background-color: #f4f4f4;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 15px;
}
