.message_list_container {
  margin-top: 80px;
  border-right: 1px solid #e0e0e0;
  padding: 0 10px;

  height: 100vh;
}

.message_list {
  margin-top: 40px;
  height: 70%;
}

.message_card {
  /* background-color: #f7f7f7; */
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.message_card_read {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.message_card:hover {
  background-color: #e0e0e0;
}

@media only screen and (max-width: 1000px) {
  .message_card {
    margin-left: -20px;
  }
}

.search_input {
  width: 100%;
  background-color: #f5f5f5;
  height: 40px;
  border-radius: 5px;
  padding-left: 40px;
}

.search_input:focus {
  outline: none;
}

.search_icon {
  margin-right: -30px;
  z-index: 1;
}

.filter_icon {
  margin-left: -30px;
  cursor: pointer;
}

.search_select_container {
  margin-top: 20px;
}

.search_select {
  background-color: transparent !important;
  border: 1px solid #a8a6a6;
  border-radius: 20px;
  height: 40px;
  width: 45%;
  padding-left: 10px;
}

.search_option {
  color: #fefefe;
  background-color: #7e7b7b !important;
  opacity: 0.8;
}

.search_option:checked {
  background-color: #24b47e !important;
  color: white !important;
}

.inbox_message {
  margin-top: 80px;
  height: 100vh;
}
